body,
html {
  margin: 0;
  font-family: 'Cabin', sans-serif;
  height: 100%;
  background-color: #2c3032;
}
.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding: 0;
}
.angular-ui-tree-nodes {
  min-height: 25px;
}
.angular-ui-tree-handle {
  font-weight: inherit;
  min-height: 0;
  line-height: inherit;
}
.app-wrapper {
  background-color: #fff;
  padding-bottom: 20px;
}
.navbar {
  border: none;
}
.navbar-top {
  background: #fff;
  color: #2c3032;
  padding-bottom: 0;
  margin-bottom: 0;
}
.navbar-top .nav {
  margin-top: 3px;
}
.navbar-top .nav button {
  color: #2c3032;
  padding-left: 0;
  padding-right: 16px;
}
.navbar-top .nav #navbar_profile_btn {
  padding-top: 11px;
  padding-bottom: 9px;
}
.navbar-top .nav li.profile {
  line-height: 46px;
  margin-right: 16px;
}
.navbar-top .nav li.profile a {
  display: inline-block;
}
.navbar-top .nav li.profile span {
  color: #98867f;
}
.navbar-top .nav img.profile {
  margin-top: -4px;
  margin-left: 5px;
}
.navbar-top .navbar-toggle:hover .icon-bar,
.navbar-top .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
.navbar-top .navbar-brand {
  color: #2c3032;
  font-family: 'Pacifico', cursive;
  font-size: 1.7em;
}
.navbar-header .navbar-board-title {
  color: #98867f;
  text-transform: uppercase;
}
.navbar-page .navbar-board-title {
  margin-top: -2px;
}
.navbar-page .glyphicon {
  top: 2px;
  margin-right: 5px;
}
.tooltip {
  pointer-events: none;
}
.dropdown-menu {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
img.profile {
  max-height: 35px;
  max-width: 35px;
  border: 1px solid #2c3032;
}
img.profile.img-thumbnail {
  padding: 1px;
}
img.profile.img-large {
  max-height: 50px;
  max-width: 50px;
}
#board-sidebar {
  width: inherit;
  min-width: 130px;
  max-width: 130px;
  float: left;
  height: 100%;
  position: relative;
  margin-left: -15px;
  text-align: center;
  font-size: .9em;
  color: #2c3032;
}
#board-sidebar > div {
  padding-right: 0;
}
#board-sidebar h3 {
  font-size: 1em;
  text-transform: uppercase;
  color: #98867f;
}
#board-sidebar .progression {
  height: 140px;
  overflow: hidden;
}
#board-sidebar .progression h3 {
  margin-top: 0;
}
#board-sidebar .progression canvas {
  position: relative;
  top: -150px;
  left: -143px;
  -moz-transform: scale(0.25);
  -webkit-transform: scale(0.25);
  -o-transform: scale(0.25);
  -ms-transform: scale(0.25);
  transform: scale(0.25);
}
#board-sidebar .timer h3 {
  margin-bottom: 5px;
}
#board-sidebar .members .member {
  margin: 0 auto 15px auto;
  width: 95px;
  height: 50px;
  padding-left: 3px;
}
#board-sidebar .members .member img {
  float: left;
  display: block;
}
#board-sidebar .members .member .info {
  float: left;
  text-align: left;
  margin: 8px 0 0 10px;
}
#board-wrapper {
  height: 100%;
  overflow: auto;
}
.column {
  padding-right: 5px;
}
.column > div {
  min-height: 650px;
  background-color: #ECF0F1;
}
.column h3 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px;
  background: #2980B9;
  color: #fff;
  font-size: 18px;
}
.column h3 span {
  font-size: 12px;
  left: 4px;
  top: -1px;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  cursor: pointer !important;
  z-index: 5;
}
.column h3:hover span {
  opacity: 1;
}
.column h3 .new-card {
  left: 8px;
}
.group h3 {
  background-color: transparent !important;
  color: #98867f !important;
  margin-top: 10px !important;
  padding-top: 15px !important;
  margin-bottom: 0 !important;
  padding-bottom: 5px !important;
  border-top: 5px dashed #fff !important;
  font-size: 16px !important;
  text-transform: uppercase !important;
}
.card {
  border-left: 5px solid #12eeb9;
  background: #fff;
  padding: 10px;
  margin: 10px;
  position: relative;
  min-height: 70px;
}
.card .header {
  padding-right: 60px;
}
.card .header .id {
  font-size: 12px;
  line-height: 12px;
  color: #98867f;
}
.card .header .title {
  margin-top: 3px;
}
.card .header .link {
  font-size: 11px;
  color: #98867f;
}
.card .profile {
  position: absolute;
  right: 5px;
  top: 5px;
}
#footer {
  color: #98867f;
}
#footer .content {
  padding-top: 20px;
  padding-bottom: 20px;
}
