<script type="text/ng-template" id="column.html">
    <div class="col-md-12">
         <h3 class="row" ui-tree-handle>{{ column.title }} <span class="edit-column glyphicon glyphicon-pencil"></span> <span class="new-card glyphicon glyphicon-plus"></span></h3>

         <ol ui-tree-nodes="" data-type="card" ng-model="column.cards" class="row">
            <li data-type="card" ng-repeat="card in column.cards" ui-tree-node ng-include="'card.html'"></li>
         </ol>

         <ol ui-tree-nodes="" data-type="group" ng-model="column.groups" class="row">
            <li data-type="group" ng-repeat="group in column.groups" ui-tree-node ng-include="'group.html'"></li>
         </ol>

    </div>
</script>

<script type="text/ng-template" id="group.html">
    <div class="col-md-12 group">
         <h3 class="row" ui-tree-handle>{{ group.title }} <b class="caret"></b> <span class="edit-column glyphicon glyphicon-pencil"></span> <span class="new-card glyphicon glyphicon-plus"></span></h3>

         <ol ui-tree-nodes="" data-type="card" ng-model="group.cards" class="row">
            <li data-type="card" ng-repeat="card in group.cards" ui-tree-node ng-include="'card.html'"></li>
         </ol>
    </div>
</script>

<script type="text/ng-template" id="card.html">
    <div class="tree-node">
        <div class="card tree-node-content">

            <div class="header">
                <div class="id" ui-tree-handle>#{{ card.id }}</div>
                <div class="title" ui-tree-handle>
                    {{ card.title }}
                </div>
                <div class="link" ng-if="card.url">
                    <a  href="{{ card.url }}" target="_blank">Click here to get more info</a>
                </div>
            </div>


            <div class="profile" ui-tree-handle>
                <img src="/images/{{ ::getImg() }}" class="profile img-circle img-thumbnail img-large" tooltip="Andras Fincza">
            </div>

        </div>
    </div>
</script>


<nav class="navbar navbar-default navbar-page row" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand navbar-board-title" href="#"><span class="glyphicon glyphicon-th-large"></span>{{ board.title }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#"><span class="glyphicon glyphicon-credit-card"></span>Board</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list-alt"></span>Cards <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="glyphicon glyphicon-plus-sign"></span> New card</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="glyphicon glyphicon-unchecked"></span> Cards to do</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Active cards</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-check"></span> Finished cards</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-comment"></span>Messages</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-dashboard"></span>Statistics</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span>Manage board <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="glyphicon glyphicon-send"></span> Invite a participant</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> Edit details</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-repeat"></span> Reset board</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<div id="board-sidebar" class="hidden-sm hidden-xs">
    <div class="col-md-12">
        <div class="progression">
            <h3>Board<br>Progress</h3>

            <div ang:round:progress
                 data-round-progress-model="progress"
                 data-round-progress-width="400"
                 data-round-progress-height="400"
                 data-round-progress-label-font="bold 45pt Cabin"
                 data-round-progress-inner-circle-radius="1000"
                 data-round-progress-outer-circle-background-color="#5dfff7"
                 data-round-progress-outer-circle-foreground-color="#12eeb9"
                 data-round-progress-label-color="#2c3032"
                 data-round-progress-outer-circle-width="50"
                 data-round-progress-outer-circle-radius="170"></div>

        </div>

        <div class="timer">
            <h3>Time</h3>
            <timer interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
        </div>

        <div class="members">
            <h3>Participants</h3>
            <div class="member">
                <img src="/images/draven.jpeg" class="profile img-circle img-thumbnail img-large" tooltip-placement="right" tooltip="Andras Fincza">
                <div class="info">
                    <div tooltip-placement="right" tooltip="Cards in progress"><span class="glyphicon glyphicon-edit"></span> 1</div>
                    <div tooltip-placement="right" tooltip="Finished cards"><span class="glyphicon glyphicon-check"></span> 12</div>

                </div>
            </div>
            <div class="member">
                <img src="/images/bilbo.jpg" class="profile img-circle img-thumbnail img-large" tooltip-placement="right" tooltip="Andras Fincza">
                <div class="info">
                    <div tooltip-placement="right" tooltip="Cards in progress"><span class="glyphicon glyphicon-edit"></span> 0</div>
                    <div tooltip-placement="right" tooltip="Finished cards"><span class="glyphicon glyphicon-check"></span> 1</div>

                </div>
            </div>
            <div class="member">
                <img src="/images/gates.jpg" class="profile img-circle img-thumbnail img-large" tooltip-placement="right" tooltip="Andras Fincza">
                <div class="info">
                    <div tooltip-placement="right" tooltip="Cards in progress"><span class="glyphicon glyphicon-edit"></span> 78</div>
                    <div tooltip-placement="right" tooltip="Finished cards"><span class="glyphicon glyphicon-check"></span> 0</div>

                </div>
            </div>
            <div class="member">
                <img src="/images/morgan.jpg" class="profile img-circle img-thumbnail img-large" tooltip-placement="right" tooltip="Andras Fincza">
                <div class="info">
                    <div tooltip-placement="right" tooltip="Cards in progress"><span class="glyphicon glyphicon-edit"></span> 99</div>
                    <div tooltip-placement="right" tooltip="Finished cards"><span class="glyphicon glyphicon-check"></span> 57</div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="board-wrapper">
    <div class="col-md-12">
        <div class="row" ui-tree="treeOptions">
            <div ui-tree-nodes="" ng-model="board.columns" data-type="column" class="column-container">

                <div class="col-sm-{{ board.columns.length | bootstrapColumn }} column"
                     ng-repeat="column in board.columns"
                     ui-tree-node
                     ng-include="'column.html'"
                     data-horizontal=""
                     data-type="column">
                </div>
            </div>

        </div>
    </div>
</div>








